# templates/compare.html

<!DOCTYPE html>
<html>
  <head>
    <style>
      .different {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>File Comparison Results</h2>
    <table>
      <tr>
        <th>Setting</th>
        <th>File 1</th>
        <th>File 2</th>
      </tr>
      {% for line in diff %}
    {{ line }}
{% endfor %}
        <tr>
          <td>{{ key }}</td>
          <td class="{% if value[0] != value[1] %}different{% endif %}">{{ value[0] }}</td>
          <td class="{% if value[0] != value[1] %}different{% endif %}">{{ value[1] }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
