# templates/compare.html

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iCompare</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
      }
      .different {
        background-color: lightcoral;
      }
    </style>
  </head>
  <body>
    <h1>iCompare</h1>
    <table>
      <thead>
        <tr>
          <th>Line Number</th>
          <th>File 1</th>
          <th>File 2</th>
        </tr>
      </thead>
      <tbody>
        {% for line in diff %}
        <tr>
          <td>{{ line[1].split('=')[0] if line[0] != '?' else line[1] if '[' in line[1] or ']' in line[1] else '' }}</td>
          <td class="{{ 'different' if line[0] == '-' }}">{{ line[1][0] if line[0] == '-' and line[1] else '' }}</td>
          <td class="{{ 'different' if line[0] == '+' }}">{{ line[2][0] if line[0] == '+' and line[2] else '' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
