# templates/compare.html

<!DOCTYPE html>
<html>
  <head>
    <style>
      .different {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>File Comparison Results</h2>
    <table>
      <tr>
        <th>Setting</th>
        <th>File 1</th>
        <th>File 2</th>
      </tr>
      {% for line in diff %}
        <tr>
          <td class="{{ 'different' if line[0] in ['-' ,'+'] else '' }}">{{ line[0] }}</td>
          <td class="{{ 'different' if line[0] == '-' else '' }}">{{ line[1][0] if line[0] != '?' else '' }}</td>
          <td class="{{ 'different' if line[0] == '+' else '' }}">{{ line[1][1] if line[0] != '?' else '' }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
